<issueList>
    <h3>Latest Issues</h3>
    <table class="table table-hover issues">
        <thead>
            <tr>
                <th></th>
                <th>Issue ID<i class="fa fa-caret-down" aria-hidden="true"></i></th>
                <th>Prio <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                <th>Title <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                <th colspan="2">Date <i class="fa fa-caret-down" aria-hidden="true"></i></th> 
            </tr>
        </thead>
        <tbody>
            <tr data-is="issue" each="{ opts.issues }" data={ this }></tr>
        </tbody>
    </table>
</issuelist>